{% extends "base.html" %} {# change si nécessaire #}
{% load static %}
{% block content %}
<div class="container my-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 m-0">Campagnes</h1>
  </div>

  <ul>
    {% for campaign in campaigns %}
      <li>
        <a href="{% url 'leaderboard:campaign_detail' campaign.id %}"> {{ campaign.name }}
          ({{ campaign.cars.count }} voitures)
          ({{ campaign.layouts.count }} circuits)
        </a>
      </li>
    {% empty %}
      <li>Aucune campagne trouvée</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
