{% extends "base.html" %}

{% block content %}
    {% if request.user.is_staff %}
    <div class="bg-light border-bottom mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'users' %}active{% endif %}"
                   href="{% url 'manage_users' %}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'campaigns' %}active{% endif %}"
                   href="{% url 'manage_campaigns' %}">Campagnes</a>
            </li>
        </ul>
    </div>

    <div class="container mt-4">
        {% block admin_content %}{% endblock %}
    </div>
    {% endif %}
{% endblock %}
